.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#loginForm {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 32px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-top: 1px solid #d8dee2;
    border-radius: 5px;
}