<!DOCTYPE html>

<html>

<head>
    <title>HR Management</title>
    <meta charset="utf-8">
</head>

<body id="top">

    <div class="wrapper row0">

    </div>

    <div class="wrapper row1">
        <header id="header"
                class="clear">

            <div id="logo">
                <h1><a href="index.html">HR Management</a></h1>
                <p>Team project supervisor</p>
            </div>

        </header>
    </div>

    <div class="wrapper row2">
        <nav id="mainav"
             class="clear">

            <ul class="clear">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Link Text</a></li>
                <li><a href="#">About us</a></li>
            </ul>

        </nav>
    </div>

    <div class="wrapper row3">
        <main id="container"
              class="clear">
            <div class="clear"></div>
        </main>
    </div>

    <div class="wrapper row4">
        <footer id="footer"
                class="clear">

            <div class="one_third first">
                <h6 class="title">Lorem ipsum dolor</h6>
                <address class="push30">
      Company Name<br>
      Street Name &amp; Number<br>
      Town<br>
      Postcode/Zip
      </address>

            </div>
            <div class="one_third">
                <h6 class="title">Lorem ipsum dolor</h6>
                <ul class="nospace clear">
                    <li class="clear push30">
                        <div class="imgl"><img src="images/demo/80x80.gif"
                                 alt=""></div>
                        <p class="nospace push15">Integer imperdiet vestibulum leo ut tincidunt in sagittis.</p>
                        <p class="nospace"><a href="#">Read more &raquo;</a></p>
                    </li>
                </ul>
            </div>
            <div class="one_third">
                <h6 class="title">Lorem ipsum dolor</h6>
                <ul class="nospace clear ftgal">
                    <li class="one_third first"><a href="#"><img src="images/demo/100x100.gif" alt=""></a></li>
                    <li class="one_third"><a href="#"><img src="images/demo/100x100.gif" alt=""></a></li>

                </ul>
            </div>

        </footer>
    </div>

    <div class="wrapper row5">
        <div id="copyright"
             class="clear">

            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">HR Magnament</a></p>
        </div>
    </div>

</body>

</html>