<!DOCTYPE html>

<html>

<head>
    <title>HR Management</title>
    <meta charset="utf-8">
</head>

<body id="top">

    <div class="wrapper row1">
        <header id="header"
                class="clear">
            <div id="logo">
                <h1><a href="/">HR Management</a></h1>
                <p>Team project supervisor</p>
            </div>
        </header>
    </div>


    <div class="wrapper row2">
        <nav id="mainav"
             class="clear">

            <ul class="clear">
                <li class=""><a href="/">Home</a></li>
                <li><a (click)="userLogin()">Login</a></li>
                <li><a href="authentication/register">Register</a></li>
                <li><a href="#">Link Text</a></li>
                <li><a href="#">About us</a></li>
            </ul>


        </nav>
    </div>



    <div class="wrapper row3 content">
        <main id="container"
              class="clear">
            <div class="clear">
                <app-home></app-home>
            </div>
        </main>
    </div>



    <div class="wrapper row4">
        <footer id="footer"
                class="clear">

            <div class="one_third first">
                <h6 class="title">Dónde estamos</h6>
                <address class="push30">
                    Todo1 Service Inc.<br>
                    Cra. 52 No. 14 - 30, Oficinas 121 y 206. Centro Empresarial Olaya Herrera<br>
                    <b>Medellín - Colombia:</b><br>
                    </address>
            </div>

            <div class="one_third">
                <h6 class="title">Lorem ipsum dolor</h6>
                <ul class="nospace clear">
                    <li class="clear push30">
                        <div class="imgl"></div>
                        <p>Integer imperdiet vestibulum leo ut tincidunt in sagittis.</p>
                        <p class="nospace"><a href="#">Read more &raquo;</a></p>
                    </li>
                </ul>
            </div>

        </footer>
    </div>


    <div class="wrapper row5">
        <div id="copyright"
             class="clear">
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">HR Magnament</a></p>
        </div>
    </div>

</body>

</html>